h1, h2, h3 {
  font-weight: bold;
  padding: 0;
  margin: 0;
}
h1, h2 {
  font-family: sans-serif;
}
h1, h3 {
  color: #cc0000;
}
h2 {
  font-size: 18pt;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3 {
  font-size: 12pt;
}
img{
  width: calc(100% - 10px);
}
.calendartitle {
  font-family: sans-serif;
  font-size: 14pt;
  font-weight: bold;
  padding-bottom: 15px;
}
.entry {
	border-top: 2px black solid;
  padding-top: 5px;
  padding-bottom: 5px;
}
.entrycontents{
  font-family: sans-serif;
  font-size: 12pt;
  font-style: italic;
}
.last {
	border-bottom: 2px black solid;
}
@media screen and (min-width: 816px) {
  body {
    display: grid;
    grid-template-columns: 1fr 500px 300px;
    grid-template-rows: auto;
    margin-left: calc((100% - 815px) / 2);
  }
  h1 {
    font-size: 36pt;
  }
  #title {
    grid-row-start: 1;
    grid-column: 1 / span 2;
  }
  #edition {
    grid-row-start: 1;
    grid-column: 3;
  }
  #venuename {
    grid-row-start: 2;
    grid-column: 1;
  }
  #calendarsection {
    grid-row-start: 2;
    grid-column: 3;
  }
  #venuepicture {
    grid-row-start: 3;
    grid-column: 1;
  }
  #venuedescription {
    grid-row-start: 3;
    grid-column: 3;
  }
}

@media screen and (max-width: 815px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  h1 {
    font-size: 32pt;
  }
  #title {
    grid-row-start: 1;
    grid-column: 1 / span 2;
  }
  #edition {
    grid-row-start: 2;
    grid-column: 1 / span 2;
  }
  #venuename {
    grid-row-start: 3;
    grid-column: 1 / span 2;
  }
  #venuepicture {
    grid-row-start: 4;
    grid-column: 1;
  }
  #venuedescription {
    grid-row-start: 4;
    grid-column: 2;
  }
  #calendarsection {
    grid-row-start: 5;
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 650px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  h1 {
    font-size: 28pt;
  }
  #title {
    grid-row-start: 1;
    grid-column: 1;
  }
  #edition {
    grid-row-start: 2;
    grid-column: 1;
  }
  #venuename {
    grid-row-start: 3;
    grid-column: 1;
  }
  #venuepicture {
    grid-row-start: 4;
    grid-column: 1;
  }
  #venuedescription {
    grid-row-start: 5;
    grid-column: 1;
  }
  #calendarsection {
    grid-row-start: 6;
    grid-column: 1;
  }
}

