#all {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

h1{
  text-align: center;
  font-size: 36pt;
  font-weight: 900;
  color:rgb(140,21,21); /* Stanford red */
}
img.seal{
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.entrytitle{
  color:black;
  padding-left: 20px;
}
.entrydate {
	float: left;
  font-style: bold;
  padding: 0px 15px 0px 15px;
}
.entry {
  border: 2px solid black;
  padding: 0px 0px 0px 0px;
	margin: 2px 0px 0px 0px;
}
.entryfooter {
  font-style: italic;
}