span.stanfordRed {
    color:rgb(140,21,21); /* Stanford red */
    font-weight: bold;
}
h1.myName{
    text-align: center;
}
body{
    font-family: sans-serif;
}
a:hover{
    color: orange;
}
.external::after {
    content: url(external.png);
	padding: 5px;
}
img{
    width: 114px;
    height: 175px;
    float: left;
    margin: 7px;
    border: 2px solid rgb(140,21,21);
    padding: 4px;
}