body {
  font-family: sans-serif;
  background-color: lightsteelblue;
}

h1 {
  font-size: 100pt;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: normal;
  letter-spacing: 10px;
}

#main {
  box-sizing: border-box;
  border: 2px solid black;
  width: 1000px;
  height: 600px;
  margin: auto;
}

#out {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 300px;
  font-size: 12pt;
  border: 2px solid black;
}