p {
  font-size: 36pt;
  text-align: center;
  margin: 0px 0px 0px 0px;
  line-height: 45px;
  cursor: default;
}

p#centerMapText {
  font-size: 20pt;
  line-height: 50px;
}

img {
  position: relative;
}

#mapBorder {
  border: 20px solid grey;
  width: 200px;
  height: 200px;
  margin: 20px 200px 20px 20px;
  overflow: hidden;
}

#controls {
  position: absolute;
  right: 0px;
  top: 20px;
  width: 200px;
  height: 300px;
}

.button {
  position: absolute;
  background-color: lightgray;
  width: 50px;
  height: 50px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#zoomIn {
  left: 40px;
  top: 30px;
}

#zoomOut {
  left: 110px;
  top: 30px;
}

#moveUp {
  left: 75px;
  top: 107px;
}

#moveRight {
  left: 128px;
  top: 160px;
}

#moveDown {
  left: 75px;
  top: 213px;
}

#moveLeft {
  left: 22px;
  top: 160px;
}

#centerMap {
  left: 22px;
  top: 290px;
  width: 150px;
}